<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> |651 Course Project </title>
</head>
<body>
<h1>About</h1>
<p>
  This is a course project for ECE 651 course project
</p>
</body>
</html>
