<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Xin Wei University of Waterloo System Design x45wei@uwaterloo.ca<br>
  Zhiwei Gao University of Waterloo Electronic and Computer Engineering
</p>